{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Nuevo Reporte | Sistema de Administración de Condominios{% endblock %}
{% block header %}Crear Nuevo Reporte{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.nombre|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.tipo|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.fecha_desde|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.fecha_hasta|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="mt-4 d-flex justify-content-between">
                        <a href="{% url 'reporte-list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Guardar y Continuar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}