{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Usuario | Sistema de Administración de Condominios
{% endblock %}

{% block header %}
    {% if form.instance.pk %}Editar{% else %}Nuevo{% endif %} Usuario
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.username|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    
                    {% if not form.instance.pk %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.password1|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.password2|as_crispy_field }}
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.rol|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.telefono|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.tipo_documento|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.numero_documento|as_crispy_field }}
                        </div>
                    </div>
                    
                    {{ form.foto|as_crispy_field }}
                    
                    <div class="mt-4 d-flex justify-content-between">
                        <a href="{% url 'usuario-list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}