{% extends 'base.html' %}

{% block auth_content %}
<div class="container">
    <div class="row justify-content-center vh-100 align-items-center">
        <div class="col-md-6 text-center">
            <h1 class="display-4 mb-4">
                <i class="fas fa-building"></i>Bienvenido a Torre Segura!
            </h1>
            <p class="lead mb-4">Bienvenido a su sistema de administración de condominios verticales.</p>
            <div class="d-grid gap-2">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
                    <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
